<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>

<div class="container">

  <form action="<%= action %>" method="post">

  <% if (fields.length) { %>
      <% fields.forEach(function(field){ %>
          <label><%= field.name %></label>
          <input type="<%= field.type %>" name="<%= field.name %>" <% if (field.property) { %> <%= field.property %> <% } %> >
      <% }) %>
  <% } %>

  <button type="submit"><%= title %></button> <!--Title for button is same as that of the page-->
  </form>


  </div>
</body>
</html>
